$white: rgba(228, 229, 234, 1);
$mixture-color:linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
$gray:
rgba(101, 101, 102, 1);
$blue:rgba(64, 119, 243, 1);
$black:rgba(14, 16, 20, 1);
// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

// p{
//     font-size: 72px;
//     background-color: #f3ec78;
//     background-image: $mixture-color;
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     -webkit-text-fill-color: transparent; 
//     -moz-text-fill-color: transparent;
// }

.header{
    width: 100%;
    display: flex;
    padding-top: 61px;
    &__logo{
        width: 15%;
        .logo{
            &:last-child{
                margin-left: 10px;
            }
        }

        .logo-text{
            margin-top: 14px;
            p{
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                font-size: 10px;
                line-height: 12.19px;
                color: $white;

            }
        }
    }

    nav{
        width: 55%;
        ul{
            display: flex;
            align-items: center;
            
            li{
                margin-left: 30px;
                &:first-child{
                    margin-left: 50px;
                }
                a{
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19.36px;
                    color: $white;
                    &:hover{
                        color: $blue;
                    }
                }
            }
        }
    }

    &__right{
        width: 30%;
        display: flex;
        a{
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.36px;
            color: $white;
            &:hover{
                color: $blue;
            }
        }

        .icons{
            svg{
                margin-left: 33px;

                &:first-child{
                    margin-left: 48px;
                }
            }
        }
    }
    @media screen and (max-width:576px) {
        background-color: #1e1e1e;
        padding: 0;
        display: flex;
        position: sticky;
        top: 0;
        width: 100%;

        z-index: 5;
        &__logo{
            display: none;
        }
        &__right{
            display: none;
        }
        nav{
            padding: 25px 5px;
            background-color: $black;
            ul{
                display: flex;
                li{
                    margin-right: 20px;
                    a{
                        color: $white;
                        font-family: 'Inter', sans-serif;
                        font-weight: 500;
                        font-size: 25px;
                        line-height: 19.36px;
                        &:hover{
                            color: $blue;
                        }
                    }
                 
                    &:last-child{
                        display: none;
                    }
                  
                }
            }
        }
    }
}